body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh; 
}

.sidenav {
    width: 300px; 
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #12415f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    background-color: white;
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.logo-image {
    width: 100%; 
}

.main-content {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #e0e0e0; 
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);    
    margin: 0; 
}
